<div layout="column" ng-cloak>
<md-list flex>
   <md-subheader class="md-no-sticky">Hotel Information for members</md-subheader>
<md-list-item class="md-3-line" ng-click="null">
   <img src="hotel.svg" class="md-avatar" alt="{{item.who}}" />
   <div class="md-list-item-text" layout="row">
      <div flex="70">
         <h3>Royal Hotel</h3>
         <h4>Rates $600 - $ 1200 / Night </h4>
         <p>Contact # +120038882983</p>
      </div>
      <div flex="30">
         <md-button class="md-warn">Book Now</md-button>
      </div>
   </div>
</md-list-item>
   <md-divider></md-divider>
<md-list-item class="md-3-line" ng-click="null">
   <img src="hotel.svg" class="md-avatar" alt="{{item.who}}" />
   <div class="md-list-item-text" layout="row">
      <div flex="70">
         <h3>Royal Hotel</h3>
         <h4>Rates $600 - $ 1200 / Night </h4>
         <p>Contact # +120038882983</p>
      </div>
      <div flex="30">
         <md-button class="md-warn">Book Now</md-button>
      </div>
   </div>
</md-list-item>
   <md-divider></md-divider>
   <md-list-item class="md-3-line" ng-click="null">
      <img src="hotel.svg" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="row">
         <div flex="70">
            <h3>Royal Hotel</h3>
            <h4>Rates $600 - $ 1200 / Night </h4>
            <p>Contact # +120038882983</p>
         </div>
         <div flex="30">
            <md-button class="md-warn">Book Now</md-button>
         </div>
      </div>
   </md-list-item>
   <md-divider></md-divider>
<md-list-item class="md-3-line" ng-click="null">
   <img src="hotel.svg" class="md-avatar" alt="{{item.who}}" />
   <div class="md-list-item-text" layout="row">
      <div flex="70">
         <h3>Royal Hotel</h3>
         <h4>Rates $600 - $ 1200 / Night </h4>
         <p>Contact # +120038882983</p>
      </div>
      <div flex="30">
         <md-button class="md-warn">Book Now</md-button>
      </div>
   </div>
</md-list-item>
   <md-divider></md-divider>
   <md-subheader class="md-no-sticky">Hotel Information for non-members</md-subheader>
   <md-list-item class="md-3-line" ng-click="null">
      <img src="hotel.svg" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="row">
         <div flex="70">
            <h3>Royal Hotel</h3>
            <h4>Rates $600 - $ 1200 / Night </h4> <p>Contact # +120038882983</p>
         </div>
         <div flex="30">
         <md-button class="md-warn" >Book Now</md-button>
         </div>
      </div>
   </md-list-item>
   <md-divider></md-divider>
   <md-list-item class="md-3-line" ng-click="null">
      <img src="hotel.svg" class="md-avatar" alt="{{item.who}}" />
      <div class="md-list-item-text" layout="row">
         <div flex="70">
            <h3>Royal Hotel</h3>
            <h4>Rates $600 - $ 1200 / Night </h4>
            <p>Contact # +120038882983</p>
         </div>
         <div flex="30">
            <md-button class="md-warn">Book Now</md-button>
         </div>
      </div>
   </md-list-item>
   <md-divider></md-divider>
<md-list-item class="md-3-line" ng-click="null">
   <img src="hotel.svg" class="md-avatar" alt="{{item.who}}" />
   <div class="md-list-item-text" layout="row">
      <div flex="70">
         <h3>Royal Hotel</h3>
         <h4>Rates $600 - $ 1200 / Night </h4>
         <p>Contact # +120038882983</p>
      </div>
      <div flex="30">
         <md-button class="md-warn">Book Now</md-button>
      </div>
   </div>
</md-list-item>
   <md-divider></md-divider>
<md-list-item class="md-3-line" ng-click="null">
   <img src="hotel.svg" class="md-avatar" alt="{{item.who}}" />
   <div class="md-list-item-text" layout="row">
      <div flex="70">
         <h3>Royal Hotel</h3>
         <h4>Rates $600 - $ 1200 / Night </h4>
         <p>Contact # +120038882983</p>
      </div>
      <div flex="30">
         <md-button class="md-warn">Book Now</md-button>
      </div>
   </div>
</md-list-item>
   <md-divider></md-divider>
   
</md-list>
</div>