<md-content style="height: 600px;" md-theme="altTheme">

   <section>
      <md-subheader class="md-primary">Unread Messages</md-subheader>
      <md-list layout-padding>
         <md-list-item class="md-3-line" ng-repeat="message in messages">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
               <h3>{{message.what}}</h3>
               <h4>{{message.who}}</h4>
               <p>
                  {{message.notes}}
               </p>
            </div>
         </md-list-item>
      </md-list>
   </section>
</md-content>

<div class="gridListdemoDynamicTiles gridListdemoDynamicTilesHome" ng-init="app.stateLoader()">
   <md-content>
      <md-tabs md-dynamic-height md-selected="app.selectedTab">
         <md-tab ng-click="app.openLink(items.link,items.params)" ng-repeat="items in app.grids" label="{{items.name}}"></md-tab>
      </md-tabs>
      <md-content ng-init="app.selectedTab = $index" ng-repeat="items in app.grids" ng-if="app.urlParser(items.name) == app.pageName" class="md-padding" layout="row" flex="100">

         <div layout="column" style="min-width: 180px;" flex="80" ng-repeat="grid in items.list">

            <md-card flex="100" ng-click="app.openLink(grid.link,grid.params)">
               <md-menu ng-if="grid.list" style="position: relative;right: -121px;width: 51px;top: 0;height: 15px;z-index: 9999;">
                  <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="app.openMenu($mdMenu, $event)">
                     <md-icon md-svg-icon="img/icons/menu.svg" style="    color: #296490;"></md-icon>
                  </md-button>
                  <md-menu-content width="4">
                     <md-menu-item ng-repeat="grid_inner in grid.list">
                        <md-button ng-click="app.redial($event)">
                           <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                           {{grid_inner.name}}}
                        </md-button>
                     </md-menu-item>
                  </md-menu-content>
               </md-menu>

               <img ng-src="img/university/{{grid.img}}.svg" class="md-card-image" style="padding:10%;" alt="Washed Out">
               <md-card-actions layout-align="center center">

                  <h5 style="text-align:center; margin-top:0; margin-bottom:0;">{{grid.name}}</h5>

               </md-card-actions>
            </md-card>
         </div>

      </md-content>
    
      <!--<md-tabs md-dynamic-height>
         <md-tab md-enable-disconnect="true" md-active="app.urlParser(items.name) == app.pageName"  label="{{items.name}}" ng-repeat="items in app.grids">
           
         </md-tab>
      </md-tabs>-->
   </md-content>
</div>