
<div  flex ng-cloak>
  
   <md-grid-list md-cols="2"  md-row-height-gt-md="1:1" md-row-height="5:3" md-gutter="8px"
      md-gutter-gt-sm="4px">
      
      <md-grid-tile style="box-shadow: 2px 2px 11px -3px #000;"  md-rowspan="2" ng-click="app.openLink('https://www.facebook.com/fccollege/')"  md-colspan="1" md-colspan-sm="1"
         md-colspan-xs="1" ng-class="tile.background">
         <img src="img/social/facebook.svg" width="58%">
        
      </md-grid-tile>
      <md-grid-tile style="box-shadow: 2px 2px 11px -3px #000;" ng-click="app.openLink('https://www.youtube.com/user/FCCUniversity')" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-class="tile.background">
         <img src="img/social/youtube.svg" width="58%">
        
      </md-grid-tile>
      <md-grid-tile style="box-shadow: 2px 2px 11px -3px #000;" ng-click="app.openLink('https://www.instagram.com/formanchristiancollege/')" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-class="tile.background">
         <img src="img/social/instagram.svg" width="58%">
        
      </md-grid-tile>
      <md-grid-tile style="box-shadow: 2px 2px 11px -3px #000;" ng-click="app.openLink('https://twitter.com/FCCollege')" md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ng-class="tile.background">
         <img src="img/social/twitter.svg" width="58%">
        
      </md-grid-tile>
      <md-grid-tile style="box-shadow: 2px 2px 11px -3px #000;" ng-click="app.openLink('https://www.linkedin.com/school/310575/')" md-rowspan="2" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-class="tile.background">
         <img src="img/social/linkedin.svg" width="58%">
         
      </md-grid-tile>
      <md-grid-tile style="box-shadow: 2px 2px 11px -3px #000;" ng-click="app.openLink('mailto:contact@fccollege.edu.pk')" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-class="tile.background">
         <img src="img/social/new-email-envelope.svg" width="58%">
         
      </md-grid-tile>
   </md-grid-list>
</div>